venv/
.venv/
data/
tmp/
bin/
data/tmp_pdf/
lightning_logs/
trained_model/*
*.p
*.pyc
.idea
__pycache__
.ipynb_checkpoints
__pycache__/
__pycache__/
.DS_Store
.env
*.csv
*.dot
citation_network
find_path
graph_bfs
pagerank
.vscode
citation-network-ui/build/*